[Unit]
Description=Early udev monitor
DefaultDependencies=no
After=systemd-udevd.service
Before=sysinit.target basic.target

[Service]
Type=simple
ExecStart=/bin/sh -c '/sbin/udevadm monitor --kernel --udev --property > /var/log/udev-boot-monitor.log'

[Install]
WantedBy=sysinit.target